@use '@/styles/mediaMixin' as mixin;

.moreInfoContainer {
  display: flex;
  justify-content: center;
  align-content: center;

  .moreInfoWrapper {
    @include mixin.media(xs) {
      width: 90%;
    }

    @include mixin.media(sm) {
      width: 60%;
    }

    @include mixin.media(md) {
      width: 50%;
    }

    @include mixin.media(lg) {
      width: 35%;
    }

    position: relative;
    width: 25%;

    .img {
      @include mixin.media(xs) {
        width: 75%;
      }

      @include mixin.media(md) {
        width: 60%;
      }

      width: 50%;
    }

    .moreInfoContent {
      @include mixin.media(xs) {
        font-size: 20px;
      }

      position: absolute;
      width: 100%;
      letter-spacing: 1px;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 9 !important;
      color: rgb(26, 32, 104);
      font-family: 'Unna',
      serif;
      font-weight: normal;
      font-size: 28px;
      text-align: center;
      text-shadow: 0px 8px 8px rgba(0, 0, 0, 0.15);

      a {
        text-shadow: none;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 500;
        text-decoration: underline;
        text-decoration-thickness: 1px;
        color: rgb(128, 127, 127);
      }
    }
  }
}