@use '@/styles/mediaMixin' as mixin;

$tableFont: 'Lora', serif;

.cartTable {
  font-family: $tableFont;
  text-align: center;
  margin-top: 50px;
  place-items: center;
}

.avatarGrid {
  @include mixin.media(xs) {
    display: flex;
  }

  @include mixin.media(sm) {
    display: flex;
  }

  display: grid;
  grid-template-columns: repeat(6, 1fr);

  .cols2 {
    @include mixin.media(xs) {
      display: none;
    }

    @include mixin.media(sm) {
      display: none;
    }

    grid-area: 1 / 1 / 2 / 3;
  }

  .cols4 {
    @include mixin.media(xs) {
      grid-area: none;
    }

    @include mixin.media(sm) {
      grid-area: none;
    }

    grid-area: 1 / 3 / 2 / 7;

    .productName {
      @include mixin.media(xs) {
        font-size: 12px;
      }
    }
  }
}