@use "../styles/mediaMixin" as mixin;
$background: linear-gradient(249.27deg, rgba(247, 247, 247, 0.15) 0%, rgba(230, 229, 229, 0.25) 21.87%, #D5D4D4 39.06%, #D4D4D4 58.33%, rgba(230, 230, 230, 0.25) 79.17%, rgba(247, 247, 247, 0.15) 100%);
$font: 16px 'Unna', serif;  

.carousel {
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
}

.imageContainer {
    position: relative;
    border-radius: 5px;
    .image {
        border-radius: 5px;
    }
    &:hover .textOverflowWrapper {
        background-color: rgba($color: white, $alpha: 0.1);
        transition: ease-in-out 1s;
    }
}

.textOverflowWrapper {
    transition: ease-in-out 1s;
    position: absolute;
    display: grid;
    place-items: center;
    top: 50%;
    left: 50%;
    z-index: 5;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.6);
    font: $font;
    font-weight: lighter;
    .textOverflow {
        text-align: center;
        position: absolute;
        letter-spacing: 1px;
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        padding: 15px 15px;
        z-index: 9;
        color: rgba($color: white, $alpha: 0.8);
        .sentence {
            color: rgba($color: gold, $alpha: 1);
        }
    }
}