@use "../styles/mediaMixin" as mixin;

$bg-overlay: rgba($color: #C4C4C4, $alpha: 0.5);
$fontSubheader: 'Unna', serif;
$font: 16px 'Unna', serif;  

.customContainer{
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 70px;
    background: linear-gradient(106.73deg, #DBDBDB 0%, #F4F4F4 56.44%, #F0F0F0 98.57%);
    border-top: 4px double rgba($color: gray, $alpha: 0.25);
    border-bottom: 4px double rgba($color: gray, $alpha: 0.25);
    .imageContainer {
        position: relative;
        border-radius: 10px;
        box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
        .image {
            border-radius: 10px;
        }
        &:hover .textOverflowWrapper {
            background-color: rgba($color: white, $alpha: 0.2);
            transition: ease-in-out 1s;
        }
    }
    .textOverflowWrapper {
        transition: ease-in-out 1s;
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        font: $font;
        font-weight: lighter;
        .textOverflow {
            text-align: center;
            position: absolute;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 15px 15px;
            z-index: 9;
            color: rgba($color: white, $alpha: 0.8);
            .goldSentence {
                color: rgba($color: gold, $alpha: 1);
            }
            .silverSentence {
                color: rgba($color: silver, $alpha: 1);
            }
        }
    }
}
