@use "../styles/mediaMixin" as mixin;
$background: linear-gradient(249.27deg, rgba(247, 247, 247, 0.15) 0%, rgba(230, 229, 229, 0.25) 21.87%, #D5D4D4 39.06%, #D4D4D4 58.33%, rgba(230, 230, 230, 0.25) 79.17%, rgba(247, 247, 247, 0.15) 100%);

$bg-overlay: rgba($color: #C4C4C4, $alpha: 0.5);
$fontSubheader: 'Unna', serif;
$font: 16px 'Unna', serif;  
$border: 4px double rgba($color: gray, $alpha: 0.25);

.customContainer{
    @include mixin.media(lg) {
        margin-top: 100px;
    }
    position: relative;
    padding-top: 75px;
    padding-bottom: 75px;
    margin-top: 70px;
    .leftBlocks {
        position: absolute;
        top: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }  
    .svg {
        position: relative;
        display: block;
        width: calc(160% + 1.3px);
        height: 150px;
    }
    .imageContainer {
        position: relative;
        border-radius: 2px;
        box-shadow: 0 50px 100px -20px rgb(50 50 93 / 25%), 0 30px 60px -30px rgb(0 0 0 / 30%);
        .image {
            border-radius: 2px;
        }
        &:hover .textOverflowWrapper {
            background-color: rgba($color: white, $alpha: 0.2);
            transition: ease-in-out 1s;
        }
    }
    .textOverflowWrapper {
        transition: ease-in-out 1s;
        position: absolute;
        display: grid;
        place-items: center;
        top: 50%;
        left: 50%;
        z-index: 5;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        border-radius: 10px;
        background: rgba(0, 0, 0, 0.6);
        font: $font;
        font-weight: lighter;
        .textOverflow {
            text-align: center;
            position: absolute;
            letter-spacing: 1px;
            margin-top: 20px;
            padding: 15px 15px;
            z-index: 9;
            color: rgba($color: white, $alpha: 0.8);
            .goldSentence {
                color: rgba($color: gold, $alpha: 1);
            }
            .silverSentence {
                color: rgba($color: silver, $alpha: 1);
            }
        }
    }
}
