@use '../styles/mediaMixin' as media;

.trendingSection {
    @include media.media(xs) {
        display: none;
    }
}

.trendingSectionMobile {
    @include media.media(sm) {
        display: none;
    }
    @include media.media(md) {
        display: none;
    }
    @include media.media(lg) {
        display: none;
    }
}