@use '../styles/mediaMixin' as media;

$base-padding: 10px 15px;
$base-alpha: 0.8;
$base-alphaHover: 1;
$base-font: 22px 'Unna', serif;

@mixin buttonColors($color, $hoverColor) {
    color: $color;
    &:hover {
        transition: ease-in-out 0.5s;
        transform: translateY(20);
        color: $hoverColor;
    }
}

.productButton {
    @include media.media(xs) {
        font: 18px 'Unna', serif;
    }
    @include media.media(sm) {
        font: 18px 'Unna', serif;
    }
    background-color: transparent; 
    padding: $base-padding;
    border: none;
    font: $base-font;
}

.silverLink {
    @extend .productButton;
    @include buttonColors(rgba($color: silver, $alpha: $base-alpha), rgba($color: silver, $alpha: $base-alphaHover));
}

.goldLink {
    @extend .productButton;
    @include buttonColors(rgba($color: gold, $alpha: $base-alpha), rgba($color: gold, $alpha: $base-alphaHover));
}

.seeMoreBtn {
    @extend .productButton;
    @include buttonColors(rgba($color: #4384A9, $alpha: $base-alpha), rgba($color: #4384A9, $alpha: $base-alphaHover));
    font-style: italic;
}