$fontText: 22px 'Unna', serif;

.customContainer{
    margin-top: 75px; 
    background-image: url('../public/EarthGif.gif');
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    .divOverflow {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: azure, $alpha: 0.5);
    }
    .textHeader {
        font: $fontText;
        text-shadow: 0px 4px 8px rgba($color: gray, $alpha: 0.2);
    }
  }