@use '../styles//mediaMixin' as media;

.container {
    @include media.media(xs) {
        margin-top: 50px;
        margin-bottom: 50px; 
    }
    margin-top: 100px;
    margin-bottom: 100px;
}

.contentForLargeScreen {
    @include media.media(xs) {
        display: none;
    }
    @include media.media(sm) {
        display: none;
    }
}

.mobileCarousel {
    @include media.media(xs) {
        display: flex;
    }
    @include media.media(sm) {
        display: flex;
    }
    display: none;
}

.trendingHeader {
    font-family: 'Crimson Text', serif;
    color: rgba(0,0,0,0.5);
    font-size: 22px;
    text-align: center;
}

.borderTrendingRow {
    margin-top: 25px;
    border: 4px double rgba(0,0,0,0.2);
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: none;
    border-right: none;
}